
<div class="center jumbotron">
  <h1>My StackOverflow</h1>

  <h2>
    Welcome to StackOverflow redefined
  </h2>

  <%= link_to "Sign up now!", 'signup_path', class: "btn btn-lg btn-primary" %>
</div>


