
<!DOCTYPE html>
<html>
  <head>
    <title>Home | My Stack Overflow</title>
  </head>
  <body>
    <h1>StackOverflow</h1>
    <p>
      Welcome to stack overflow redefined
    </p>
  </body>
</html>
